@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@300;400&display=swap");
@import url(bootstrap.css);
@import url(bootstrap-theme.css);
@font-face {
  font-family: 'Big John';
  src: url("../fonts/BigJohn.eot");
  src: url("../fonts/BigJohn.eot?#iefix") format("embedded-opentype"), url("../fonts/BigJohn.woff2") format("woff2"), url("../fonts/BigJohn.woff") format("woff"), url("../fonts/BigJohn.ttf") format("truetype"), url("../fonts/BigJohn.svg#BigJohn") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
/*...MAIN SCREEN...*/
@keyframes point {
  0% {
    bottom: 77px; }
  100% {
    bottom: 50px; } }
.d-flex {
  display: flex; }

.first-window {
  background-image: url("../images/bg-header_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  margin-bottom: 80px; }
  .first-window header {
    top: 0;
    background: none; }
    .first-window header .container .navbar.navbar-default {
      background-image: none;
      background-color: transparent !important;
      border-color: transparent !important;
      border: none;
      box-shadow: none; }
      .first-window header .container .navbar.navbar-default .navbar-brand {
        font-family: 'Big John', sans-serif;
        font-size: 25px;
        color: #fff;
        margin-top: 32px; }
      .first-window header .container .navbar.navbar-default .navbar-nav li {
        margin-top: 39px; }
        .first-window header .container .navbar.navbar-default .navbar-nav li a {
          color: #fff;
          padding: 8px 21px 10px;
          margin-left: 2px;
          border: 1px solid rgba(255, 255, 255, 0);
          border-radius: 20px; }
          .first-window header .container .navbar.navbar-default .navbar-nav li a:hover {
            border: 1px solid #fff;
            border-radius: 20px; }
  .first-window .container h1 {
    margin: 35vh auto 43px;
    font-size: 35px;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 12px; }
  .first-window .container p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px; }
  .first-window div.arrow {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #19bd9a;
    position: absolute;
    bottom: 77px;
    left: 49%;
    font-size: 15px;
    padding: 9px 11px;
    animation: point 0.9s cubic-bezier(1, 0.28, 0.2, 0.8) infinite; }
    .first-window div.arrow:before {
      content: "\f078";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #fff; }

/*...ABOUT...*/
.about h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: #333b46;
  letter-spacing: 6px;
  margin-bottom: 49px; }
.about p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #81868e;
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 37px; }
.about img {
  display: block;
  margin: auto; }
.about a {
  padding: 12px 34px 11px;
  border: 1px solid #333b46;
  border-radius: 22px;
  font-size: 16px;
  color: #333b46;
  text-decoration: none; }

/*...DETAILS...*/
.details {
  background-color: #f3f3f3;
  padding: 80px 0 101px; }
  .details h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    color: #333b46;
    letter-spacing: 6px;
    margin-bottom: 49px; }
  .details p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #81868e;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 37px; }
  .details a {
    display: inline-block;
    width: 53px;
    height: 53px;
    font-size: 28px;
    line-height: 53px;
    color: #fff;
    margin: 61px 13px;
    border: none;
    border-radius: 50%;
    background-color: #81868e; }
    .details a:hover {
      background-color: #19bd9a; }
  .details .ideas {
    padding-left: 73px; }
    .details .ideas h3 {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 20px;
      color: #333b46;
      letter-spacing: 6px;
      padding-left: 15px; }

/*...PROJECTS...*/
.projects {
  padding-top: 80px; }
  .projects h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    color: #333b46;
    letter-spacing: 6px;
    margin-bottom: 41px; }
  .projects p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #81868e;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 61px; }
  .projects .d-flex {
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: stretch; }
    .projects .d-flex img {
      display: block;
      width: 50%; }
      @media screen and (max-width: 992px) {
        .projects .d-flex img {
          width: 100%; } }
    .projects .d-flex .links {
      width: 50%; }
      @media screen and (max-width: 992px) {
        .projects .d-flex .links {
          width: 100%; } }
      .projects .d-flex .links a {
        width: 50%;
        position: relative; }
        .projects .d-flex .links a img {
          width: 100%;
          background-color: rgba(0, 0, 0, 0); }
        .projects .d-flex .links a span {
          display: none; }
        .projects .d-flex .links a:hover {
          background-color: rgba(0, 0, 0, 0.9);
          z-index: 9; }
          .projects .d-flex .links a:hover span {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 20px;
            color: #333b46;
            letter-spacing: 6px;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 33%;
            display: inline; }
  .projects .submit {
    background-image: url("../images/green-bg_02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 15px; }
    .projects .submit .d-flex {
      max-width: 1028px;
      margin: auto;
      padding: 38px 0;
      align-items: center;
      justify-content: space-between; }
      .projects .submit .d-flex p {
        color: #fff;
        font-size: 20px;
        margin: 0; }
        @media screen and (max-width: 992px) {
          .projects .submit .d-flex p {
            width: 100%;
            text-align: center;
            margin-bottom: 15px; } }
      .projects .submit .d-flex a {
        display: inline-block;
        padding: 12px 34px 11px;
        border: 1px solid #fff;
        border-radius: 22px;
        font-size: 16px;
        color: #fff;
        text-decoration: none; }
        @media screen and (max-width: 992px) {
          .projects .submit .d-flex a {
            margin: auto; } }

/*...SERVICES...*/
.services {
  padding: 81px 20px 137px; }
  .services h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    color: #333b46;
    letter-spacing: 6px;
    margin-bottom: 41px; }
  .services p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #81868e;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 61px; }
    .services p .green {
      color: #19bd9a; }
    .services p .bold {
      font-weight: 900; }
  .services .central {
    /*...circular progressbar...*/
    /*------*/ }
    .services .central h3 {
      margin-top: 0;
      display: block; }
    .services .central p {
      display: block; }
    .services .central .icons.d-flex {
      flex-direction: column;
      margin-right: 44px; }
    .services .central a {
      display: inline-block;
      width: 53px;
      height: 53px;
      font-size: 28px;
      line-height: 53px;
      color: #fff;
      margin-bottom: 17px;
      border: none;
      border-radius: 50%;
      background-color: #81868e; }
      .services .central a:hover {
        background-color: #19bd9a; }
    .services .central .bg-style {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .services .central .bg-style .counter {
        display: inline-flex;
        cursor: pointer;
        width: 124px;
        height: 124px;
        max-width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 500;
        transition: height .2s ease-in-out;
        background: #fff;
        border-radius: 50%;
        margin-left: 40px; }
      .services .central .bg-style .percentage {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 0;
        right: 0;
        vertical-align: middle;
        transform: translate3d(0, -50%, 0); }
      .services .central .bg-style canvas {
        position: absolute;
        top: 0;
        right: 0; }
      .services .central .bg-style body {
        text-align: center; }

.director {
  background-image: url("../images/bg-person_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 80px 0 102px; }
  .director .container {
    position: relative; }
    .director .container h3 {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 20px;
      color: #333b46;
      letter-spacing: 6px;
      color: #f3f3f3;
      margin-bottom: 60px; }
    .director .container p {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #81868e;
      letter-spacing: 1px;
      line-height: 25px;
      color: #b2b3b3;
      font-size: 16px;
      margin-bottom: 34px; }
      .director .container p .green {
        color: #19bd9a; }
    .director .container .image {
      position: absolute;
      right: 0;
      top: -138px;
      width: 410px;
      height: 330px; }

/*....GALERY...*/
#masonry {
  column-count: 2;
  column-gap: 1em; }

@media (min-width: 30em) {
  #masonry {
    column-count: 2;
    column-gap: 1em; } }
@media (min-width: 40em) {
  #masonry {
    column-count: 3;
    column-gap: 1em; } }
@media (min-width: 60em) {
  #masonry {
    column-count: 4;
    column-gap: 1em; } }
@media (min-width: 75em) {
  #masonry {
    column-count: 4;
    column-gap: 1em; } }
.item {
  background-color: none;
  display: inline-block;
  margin: 0 0 1em 0;
  width: 100%;
  cursor: pointer; }

.item img {
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-bottom: -4px;
  /*idk why but this fix stuff*/ }

.item.active {
  animation-name: active-in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-direction: alternate; }

.item.active:before {
  content: "+";
  transform: rotate(45deg);
  font-size: 48px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  z-index: 12; }

.item.active img {
  animation-name: active-in-img;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-direction: alternate; }

@keyframes active-in {
  0% {
    opacity: 1;
    background-color: white; }
  50% {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9); }
  100% {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9); } }
@keyframes active-in-img {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
    top: 0;
    left: 0;
    max-width: 100%; }
  49% {
    opacity: 0;
    transform: translate(0%, -50%); }
  50% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%); }
  100% {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    width: auto;
    max-height: 95vh;
    opacity: 1; } }
/*...FOOTER...*/
footer {
  padding: 80px 0 90px; }
  footer .container a.brand {
    display: block;
    margin: 0 auto 25px;
    text-decoration: none;
    font-size: 25px;
    color: #323a45;
    font-weight: 900; }
  footer .container p {
    color: #81868e;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif; }
  footer .container .soc.d-flex {
    justify-content: center; }
    footer .container .soc.d-flex a {
      display: inline-block;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      font-size: 14px;
      line-height: 26px;
      color: #fff;
      text-decoration: none;
      background-color: #3b5998;
      margin: 38px 5px 0 5px;
      /*a - first of type / nth-chile(2) ...*/ }
      footer .container .soc.d-flex a :nth-child(2) {
        background-color: #26a6d1; }
      footer .container .soc.d-flex a .tw {
        background-color: #26a6d1; }
      footer .container .soc.d-flex a .li {
        background-color: #0e76a8; }
      footer .container .soc.d-flex a .in {
        background-color: #3f729b; }
      footer .container .soc.d-flex a .vi {
        background-color: #86c9ef; }

/*# sourceMappingURL=style.css.map */
