@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,900;1,300&display=swap');
//font-family: 'Open Sans', sans-serif;
//font-family: 'Source Sans Pro', sans-serif;
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "bootstrap.css";
@import "bootstrap-theme.css";

@font-face {
  font-family: 'Big John';
  src: url('../fonts/BigJohn.eot');
  src: url('../fonts/BigJohn.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BigJohn.woff2') format('woff2'),
  url('../fonts/BigJohn.woff') format('woff'),
  url('../fonts/BigJohn.ttf') format('truetype'),
  url('../fonts/BigJohn.svg#BigJohn') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$font-family-main: 'Source Sans Pro', sans-serif;
$font-family-regular: 'Open Sans', sans-serif;
@mixin h3() {
  font-family: $font-family-main;
  font-size: 20px;
  color: #333b46;
  letter-spacing: 6px;
}

@mixin p() {
  font-family: $font-family-regular;
  font-size: 14px;
  color: #81868e;
  letter-spacing: 1px;
  line-height: 25px;
}

@mixin link() {
  padding: 12px 34px 11px;
  border: 1px solid #333b46;
  border-radius: 22px;
  font-size: 16px;
  color: #333b46;
  text-decoration: none;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

/*...MAIN SCREEN...*/
@keyframes point {
  0% {
    bottom: 77px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 77px;
  }
}

.d-flex {
  display: flex;
}

.green {
  color: #19bd9a;
}

/*..FIRST WINDOW..*/
.first-window {
  background-image: url('../images/bg-header_01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  margin-bottom: 80px;

  header {
    top: 0;
    background: none;

    .container {
      .navbar.navbar-default {
        background-image: none;
        background-color: transparent !important;
        border-color: transparent !important;
        border: none;
        box-shadow: none;

        .navbar-brand {
          font-family: 'Big John', sans-serif;
          font-size: 25px;
          color: #fff;
          margin-top: 32px;
        }

        .navbar-toggle {
          margin-top: 39px;
        }

        .navbar-nav {
          margin-top: 39px;

          li {
            margin-bottom: 20px;

            a {
              color: #b2b3b3;
              padding: 8px 21px 10px;
              margin-left: 2px;
              border: 1px solid rgba(255, 255, 255, 0);
              border-radius: 20px;
              transition: 0.2s;

              &:hover {
                border: 1px solid #fff;
                border-radius: 20px;
              }
            }
          }
        }
      }
    }
  }

  .container {
    h1 {
      margin: 35vh auto 43px;
      font-size: 35px;
      color: #fff;
      font-family: $font-family-main;
      letter-spacing: 12px;
      @include max-screen(768px) {
        margin-top: 20vh;
      }
    }

    p {
      font-family: $font-family-regular;
      font-size: 16px;
      color: #fff;
      font-weight: 300;
      letter-spacing: 2px;

    }
  }
  .arrow {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #19bd9a;
    position: absolute;
    bottom: 77px;
    left: 49%;
    font-size: 15px;
    padding: 9px 11px;
    animation: point 1s cubic-bezier(.67, .47, .31, .61) infinite;

    &:before {
      content: "\f078";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #fff;
    }

    @include max-screen(768px) {
      left: 45%;
    }
  }
}

/*...ABOUT...*/
.about {

  h3 {
    @include h3;
    margin-bottom: 49px;
    @include max-screen(767px) {
      text-align: center;
    }
  }

  p {
    @include p;
    margin-bottom: 37px;
  }

  img {
    display: block;
    margin: 0 auto 76px;
  }

  .btn-lg {
    background-image: none;
    padding: 12px 34px 11px;
    border: 1px solid #333b46;
    border-radius: 22px;
    font-size: 16px;
    color: #333b46;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 26px;
    outline: none;
    background-color: #fff;
    transition: 0.3s;

    &:hover {
      background-color: #19bd9a;
      border: 1px solid #fff;
      color: #fff;
    }

    &:active {
      border: 1px solid #333b46;
      background-color: #333b46;
      color: #333b46;
      outline: none;
    }
  }
}

/*...DETAILS...*/
.details {
  background-color: #f3f3f3;
  padding: 80px 0 101px;

  h3 {
    @include h3;
    margin-bottom: 49px;
  }

  p {
    @include p;
    margin-bottom: 37px;
  }

  a {
    display: inline-block;
    width: 53px;
    height: 53px;
    font-size: 28px;
    line-height: 53px;
    color: #fff;
    margin: 61px 13px;
    border: none;
    border-radius: 50%;
    background-color: #81868e;
    transition: 0.3s;

    &:hover {
      background-color: #19bd9a;
    }
  }

  .ideas {

    h3 {
      @include h3;
      padding-left: 15px;
      @include max-screen(767px) {
        text-align: center;
      }
    }
  }
}

/*...PROJECTS...*/
.projects {
  padding-top: 80px;

  h3 {
    @include h3;
    margin-bottom: 41px;
  }

  p {
    @include p;
    margin-bottom: 61px;
  }

  .d-flex {
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: stretch;
    align-items: stretch;

    .links {
      position: relative;
      padding: 0;
      @include max-screen(768px) {
        width: 100%;
      }

      img {
        display: block;
        width: 100%;
        position: relative;
      }
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          z-index: 2;
          transition: 0.2s;
        }
          &:hover:after {
            background-color: rgba(22, 22, 22, 0.81);
          }

        span {
          @include h3;
          color: #fff;
          position: absolute;
          top: 50%;
          left: 33%;
          display: none;
        }

        &:hover {
          span {
            display: inline;
            z-index: 9;
          }
        }
      }
  }

  .submit {
    background-image: url('../images/green-bg_02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 15px;

    .d-flex {
      max-width: 1028px;
      margin: auto;
      padding: 38px 0;
      align-items: center;
      justify-content: space-between;

      p {
        color: #fff;
        font-size: 20px;
        margin: 0;
        @include max-screen(992px) {
          width: 100%;
          text-align: center;
          margin-bottom: 15px;
        }
      }

      .link {
        display: inline-block;
        padding: 12px 34px 11px;
        border: 1px solid #fff;
        border-radius: 22px;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
        @include max-screen(992px) {
          margin: auto;
        }
        &:hover {
          background-color: #fff;
          color: #333b46;
        }
      }
    }
  }
}

/*...SERVICES...*/
.services {
  padding: 81px 20px 137px;

  h3 {
    @include h3;
    margin-bottom: 41px;
  }

  p {
    @include p;
    margin-bottom: 61px;
    .bold {
      font-weight: 900;
    }
  }

  .central {
    @include max-screen(767px) {
      .col-md-6.d-flex {
        flex-wrap: wrap;
      }
    }

    h3 {
      margin-top: 0;
      display: block;
      @include max-screen(767px) {
        text-align: center;
      }
    }

    p {
      display: block;
    }

    .icons.d-flex {
      flex-direction: column;
      margin-right: 44px;
      @include max-screen(767px) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 0;
        a {
          margin: 10px
        }
      }
    }

    a {
      display: inline-block;
      width: 53px;
      height: 53px;
      font-size: 28px;
      line-height: 53px;
      color: #fff;
      margin-bottom: 17px;
      border: none;
      border-radius: 50%;
      background-color: #81868e;
      &:hover {
        background-color: #19bd9a;
      }
    }

    /*...circular progressbar...*/
    .bg-style {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      @include max-screen(767px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      .counter {
        display: inline-flex;
        cursor: pointer;
        width: 124px;
        height: 124px;
        max-width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 500;
        transition: height .2s ease-in-out;
        background-color: #fff;
        border-radius: 50%;
        margin-left: 40px;
        @include max-screen(767px) {
          margin: 0 15px 0;
        }
      }

      p {
        margin-left: 40px;
        @include max-screen(767px) {
          margin: 0 15px 15px;
        }
      }

      .percentage {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 0;
        right: 0;
        vertical-align: middle;
        transform: translate3d(0, -50%, 0);
      }

      canvas {
        position: absolute;
        top: 0;
        right: 0;
      }

      body {
        text-align: center;
      }
    }
  }
}

.director {
  background-image: url('../images/bg-person_02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 80px 0 102px;

  .container {
    position: relative;

    h3 {
      @include h3;
      color: #f3f3f3;
      margin-bottom: 60px;
    }

    p {
      @include p;
      color: #b2b3b3;
      font-size: 16px;
      margin-bottom: 34px;
    }

    .image {
      position: absolute;
      right: 0;
      top: -138px;
      max-width: 410px;

      img {
        width: 100%;
      }

      @include max-screen(1024px) {
        position: relative;
        top: 0;
      }
    }
  }
}

/*....GALERY...*/

.gallery {
  background-color: #f3f3f3;

  .container {
    position: relative;
    padding-top: 80px;

    h3 {
      @include h3;
      color: #333b46;
      margin-bottom: 41px;
    }

    p {
      @include p;
      color: #81868e;
      font-size: 14px;
      margin-bottom: 81px;
    }

    ul {
      align-items: stretch;

      li {
        &:hover {
          background-color: transparent;
        }

        a {
          color: #464646;
          font-size: 16px;
          font-family: $font-family-regular;
        }

        &:after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background-color: #19bd9a;
        }

        &:hover:after {
          content: "";
          display: block;
          width: 38px;
          height: 2px;
          margin: auto;
          background-color: #19bd9a;
        }
      }
    }
  }


  #masonry {
    column-count: 1;
    column-gap: 1em;
  }

  @media(min-width: 30em) {
    #masonry {
      column-count: 1;
      column-gap: 1em;
    }
  }

  @media(min-width: 40em) {
    #masonry {
      column-count: 2;
      column-gap: 1em;
    }
  }

  @media(min-width: 60em) {
    #masonry {
      column-count: 3;
      column-gap: 1em;
    }
  }

  @media(min-width: 75em) {
    #masonry {
      column-count: 4;
      column-gap: 1em;
    }
  }

  .item {
    background-color: transparent;
    display: inline-block;
    margin: 0 0 1em 0;
    width: 100%;
    cursor: pointer;
    position: relative;
    &:hover .item-hover {
      opacity: 1;
    }

    .item-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-left: 30px;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: 0.3s;
      h3 {
        font-family: $font-family-regular;
        font-size: 20px;
        color: #19bd9a;
        margin-bottom: 31px;
        letter-spacing: normal;
        &:after {
          content: "";
          display: block;
          background-color: #19bd9a;
          width: 23px;
          height: 1px;
          margin-top: 15px;
        }
      }

      p {
        color: #b2b3b3;
        margin-bottom: 47px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: normal;
      }
      a {
        display: inline-block;
        width: 28px;
        height: 28px;
        line-height: 28px;
        color: #fff;
        border: none;
        border-radius: 50%;
        background-color: #000;
        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
      &:hover {
        display: block;
      }
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 99;
      }
    }
  }

  .item img {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-bottom: -4px;
    position: relative;
  }

  .down {
    background-image: url('../images/bg-green-container_03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1140px;
    margin: 40px auto 80px;
    padding: 58px 0 57px;
    flex-direction: column;

    p {
      color: #fff;
      font-size: 20px;
      text-align: center;
      margin-bottom: 30px;
    }

    a {
      display: inline-block;
      margin: auto;
      padding: 12px 29px 11px;
      border: 1px solid #fff;
      border-radius: 22px;
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        background-color: #fff;
        color: #333b46;
      }
    }
  }
}

/*...CAROUSEL...*/
.team {
  padding: 80px 0 100px;

  h3 {
    @include h3;
    color: #333b46;
    margin-bottom: 41px;
  }

  p {
    @include p;
    color: #81868e;
    font-size: 14px;
    margin: 0 auto 62px;
    max-width: 600px;
  }

  .owl-carousel {
    img {
      display: block;
      width: 100%;
      margin-bottom: 61px;
    }

    .owl-dots {
      text-align: center;

      .owl-dot {
        outline: none;

        & span {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid #19bd9a;
          background-color: #fff;
          margin: 5px;
        }

        &.active span {
          background-color: #19bd9a;
        }
      }
    }

    h4 {
      color: #464646;
      font-size: 20px;
    }

    h5 {
      color: #81868e;
      font-size: 18px;
      font-family: $font-family-main;

    }

    .description {
      color: #81868e;
      font-size: 16px;
      font-family: $font-family-main;
      font-weight: 300;
      padding-left: 0;
      margin-bottom: 10px;
      span {
        float: right;
      }
    }

    .name {

      &:after {
        content: "";
        display: inline-block;
        background-color: #19bd9a;
        width: 4px;
        height: 43px;
        margin-top: 10px;
      }

      @include max-screen(768px) {
        display: none;
      }
    }

    .progress {
      height: 4px;
      margin-bottom: 36px;

      .progress-bar {
        height: 4px;
        background-color: #19bd9a;
        background-image: none;
      }
    }
  }
}

/*...dark...*/
.dark {
  background-image: url('../images/bg-dark_02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 58px 0 57px;
  display: flex;
  flex-direction: column;

  p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  a {
    display: inline-block;
    margin: auto;
    padding: 12px 29px 11px;
    border: 1px solid #fff;
    border-radius: 22px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      background-color: #fff;
      color: #333b46;
    }
  }
}

/*...CAROUSEL 2.....*/
.testimonials {
  background-color: #f3f3f3;
  padding: 80px 0 100px;

  h3 {
    @include h3;
    color: #333b46;
    margin-bottom: 41px;
  }

  p.text-center {
    @include p;
    color: #81868e;
    font-size: 14px;
    margin: 0 auto 62px;
    max-width: 550px;
  }

  .owl-carousel {
    background-color: #fff;
    padding: 52px 0 60px;
    -webkit-box-shadow: 1px 1px 0 0 #e7e7e7;
    box-shadow: 1px 1px 0 0 #e7e7e7;

    .owl-dots {
      text-align: center;

      .owl-dot {
        outline: none;

        & span {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid #19bd9a;
          background-color: #fff;
          margin: 5px;
        }

        &.active span {
          background-color: #19bd9a;
        }
      }
    }

    p {
      margin: 0 0 30px 0;
    }

    h4 {
      font-family: $font-family-regular;
      font-weight: bold;
      font-size: 16px;
    }

    h5 {
      font-family: $font-family-regular;
      color: #464646;
      font-size: 14px;
    }
  }
}

/*....NEWS....*/
.news {
  background-image: url('../images/bg-news_02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 104px;

  h3 {
    @include h3;
    color: #fff;
    margin-bottom: 41px;
  }

  p {
    @include p;
    color: #b2b3b3;
    font-size: 14px;
    margin-bottom: 104px;
    max-width: 500px;
  }

  .owl-carousel {
    position: relative;

    h3 {
      color: #e1e4e9;
      margin-bottom: 13px;
    }

    h4 {
      color: #81868e;
      margin-bottom: 20px;
    }

    .small {
      color: #464646;
      font-size: 14px;
      margin-bottom: 61px;
    }

    p {
      color: #81868e;
      font-size: 14px;
      margin-bottom: 64px;
    }

    .btn {
      background-image: none;
      background-color: transparent;
      color: #b2b3b3;
      border: none;
      outline: none;
    }

    span {
      color: #81868e;
      font-size: 14px;
    }

    .owl-dots {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 35%;
      right: 0;

      .owl-dot {
        outline: none;

        & span {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid #b2b3b3;
          background-color: transparent;
          margin: 5px;
        }

        &.active span {
          background-color: #b2b3b3;
        }
      }
    }
  }
}

/*...PRICE...*/
.price {
  background-color: #f3f3f3;
  padding: 80px 0 101px;
  text-align: center;

  h3 {
    @include h3;
    color: #333b46;
    margin-bottom: 41px;
  }

  p {
    @include p;
    color: #81868e;
    font-size: 14px;
    margin: 0 auto 61px;
    max-width: 600px;
  }

  .d-flex {
    max-width: 1170px;
    justify-content: space-between;
    @include max-screen(992px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .coupon {
      position: relative;
      background-color: #fff;
      padding: 0;
      -webkit-box-shadow: 1px 1px 0 0 #e7e7e7;
      box-shadow: 1px 1px 0 0 #e7e7e7;
      transition: 0.3s;

      h3 {
        background-color: #19bd9a;
        color: #fff;
        padding: 27px 0 26px;
        margin: 0 0 67px 0;
      }

      p.text-center {
        font-size: 20px;
        margin-bottom: 107px;
      }

      .big {
        font-family: $font-family-main;
        font-weight: 900;
        font-size: 42px;
        margin: 67px 0 11px;
      }

      &:hover .coupon-hover {
        opacity: 1;
      }

      .coupon-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0;
        transition: 0.3s;

        .bottom {
          font-family: $font-family-regular;
          font-size: 18px;
          margin-bottom: 0;
          letter-spacing: normal;
          padding: 27px 0 29px;

          i {
            margin-left: 13px;
            font-size: 16px;
          }
        }

        p.text-left {
          color: #81868e;
          padding: 35px 30px 35px 33px;
          margin: 0;
          font-size: 14px;
          line-height: 31px;
        }

        &:hover {
          display: block;
        }
      }
      @include max-screen(992px) {
        margin: 15px;
        width: 95%;
      }
    }
  }
}

/*...Subscribe us...*/
.subscribe {
  background-image: url('../images/bg-form_02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 85px;

  h3 {
    @include h3;
    color: #fff;
    font-size: 20px;
    margin-bottom: 43px;
  }

  p {
    @include p;
    color: #81868e;
    font-size: 14px;
    margin-bottom: 61px;
  }

  .form-inline .form-control {
    width: 358px;
    height: auto;
    margin: 0 9px 15px 0;
    background-color: transparent;
    border-radius: 0;
    font-size: 14px;
    padding: 14px 0 14px 22px;
    @include max-screen(546px) {
      width: 100%;
    }
  }

  button {
    background-image: none;
    background-color: #19bd9a;
    border: none;
    border-radius: 0;
    outline: none;
    width: 151px;
    color: #fff;
    font-size: 14px;
    padding: 16px 0 15px;
    margin-bottom: 15px;
    &:active {
      border: 1px solid #fff;
    }
  }
}

/*...CONTACT US...*/
.contact-us {
  background-color: #f3f3f3;
  padding: 80px 0 100px;
  text-align: center;

  h3 {
    @include h3;
    color: #333b46;
    margin-bottom: 41px;
  }

  p {
    @include p;
    color: #81868e;
    font-size: 14px;
    margin: 0 auto 61px;
    max-width: 600px;
  }

  .d-flex {
    max-width: 1170px;
    justify-content: space-between;
    @include max-screen(992px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .coupon {
      padding: 0;
      max-width: 287px;
      background-color: #fff;
      margin-bottom: 40px;
      -webkit-box-shadow: 1px 1px 0 0 #e7e7e7;
      box-shadow: 1px 1px 0 0 #e7e7e7;
      @include max-screen(992px) {
        margin: 0 20px 40px;
      }

      img {
        width: 100%;
      }

      .container1 {
        background-color: #fff;
      }
    }
  }
}

/*...FORM...*/
.form {
  padding: 80px 15px 129px;

  .d-flex {
    max-width: 1140px;
    justify-content: space-between;
    @include max-screen(1200px) {
      max-width: 940px;
    }
    @include max-screen(992px) {
      max-width: 720px;
    }
    @include max-screen(768px) {
      flex-wrap: wrap;
    }

    .form-control {
      border-radius: 0;
      height: auto;
      font-size: 14px;
      padding: 14px 0 14px 20px;
    }
  }

  textarea {
    margin-bottom: 30px;
    border-radius: 0;
    resize: none;
  }

  .btn {
    width: 100%;
    border-radius: 0;
    outline: none;
    padding: 21px 0 20px;
    font-size: 16px;
  }

  .btn-success {
    background-image: none;
    background-color: #19bd9a;
    border-color: #19bd9a;
  }
}

/*...MAP...*/
.map {
  width: 100%;
}

/*...FOOTER...*/
footer {
  padding: 80px 0 90px;

  .container {
    a.brand {
      display: block;
      margin: 0 auto 25px;
      text-decoration: none;
      font-size: 25px;
      color: #323a45;
      font-weight: 900;
    }

    p {
      color: #81868e;
      font-size: 14px;
      letter-spacing: 2px;
      font-family: $font-family-regular;
    }

    .soc.d-flex {
      justify-content: center;

      a {
        display: inline-block;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        font-size: 14px;
        line-height: 26px;
        color: #fff;
        text-decoration: none;
        background-color: #3b5998;
        margin: 38px 5px 0 5px;
        &:nth-child(2) {
          background-color: #26a6d1;
        }
        &:nth-child(3) {
          background-color: #0e76a8;
        }
        &:nth-child(4) {
          background-color: #3f729b;
        }
        &:nth-child(5) {
          background-color: #86c9ef;
        }
      }
    }
  }
}